---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Aside from "@components/Aside.astro";
import { ABOUT } from "@consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {ABOUT.TITLE}
      </h1>
      <div class="mt-1">
        {ABOUT.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <Aside type="info">🏗️ Page under construction ... Work in progress</Aside>
  </BottomLayout>
</PageLayout>
