<div id="giscus-container" class="mt-10"></div>

<script data-astro-rerun is:inline>
  function loadGiscus() {
    const theme = document.documentElement.classList.contains("dark")
      ? "dark"
      : "light";
    console.log("Loading Giscus with theme:", theme);
    const giscusContainer = document.getElementById("giscus-container");
    if (!giscusContainer) return;

    giscusContainer.innerHTML = ""; // Clear existing iframes

    const script = document.createElement("script");
    script.src = "https://giscus.app/client.js";
    script.setAttribute("data-repo", "leoraclet/leoraclet.github.io");
    script.setAttribute("data-repo-id", "R_kgDOO1fDMg");
    script.setAttribute("data-category", "Announcements");
    script.setAttribute("data-category-id", "DIC_kwDOO1fDMs4Crjn0");
    script.setAttribute("data-mapping", "url");
    script.setAttribute("data-strict", "0");
    script.setAttribute("data-reactions-enabled", "1");
    script.setAttribute("data-emit-metadata", "1");
    script.setAttribute("data-input-position", "top");
    script.setAttribute("data-theme", theme); // or dark, or dynamic
    script.setAttribute("crossorigin", "anonymous");
    script.setAttribute("data-lang", "en");
    script.async = true;

    giscusContainer.appendChild(script);
  }

  function updateGiscusTheme() {
    const theme = document.documentElement.classList.contains("dark")
      ? "dark"
      : "light";
    const iframe = document.querySelector("iframe.giscus-frame");
    if (!iframe) return;
    iframe.contentWindow.postMessage(
      { giscus: { setConfig: { theme } } },
      "https://giscus.app"
    );
  }

  const observer = new MutationObserver(updateGiscusTheme);
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["class"],
  });

  loadGiscus();
  updateGiscusTheme();
</script>
